body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

/* GRANDPARENTS */
.Nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 500;
	background-color: #fff;
	border-top: 1px solid #eee;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* See issue #1 */
	transition: height 200ms ease;
}

.Nav.open {
	height: 50vh;
}

main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	z-index: 100;
}

/* PARENTS */
.Grid-container {
	max-width: 768px;
	padding: 1.5rem 1.5rem 3rem;
	display: grid;
	gap: 1.5rem;
	transition: padding-right 500ms ease;
}

.Menu-btn {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 0.2rem;
	display: block;
	height: 2em;
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 1000;
	transition: bottom 200ms ease;
}

.Nav.open + main .Menu-btn {
	bottom: calc(50vh + 1.5rem);
}

.Add-btn {
	margin: 0 auto;
	color: white;
	border: none;
	border-radius: 50%;
	display: block;
}

/* CHILDREN */
.Video-link, .Timestamp, .Comment {
	padding: 0.55rem;
	border: none;
	border-bottom: 0.1rem solid #eee;
	border-radius: 0.2rem;
	-webkit-appearance: none;
	display: block;
}

.Timestamp-container {
	display: flex; 
	align-items: center;
}

.Timestamp {
	width: 100%;
}

.Add-btn svg {
	width: 2em;
	fill: #aaa;
}

.Menu-btn svg {
	width: 2em;
	fill: #ccc;
}

.Nav li {
	list-style-type: none;
	border-bottom: 1px solid #eee;
}

.Nav li > button {
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	background-color: inherit;
	border: none;
	color: #888;
}

.Nav .Displayed {
	outline: none; /* just for demo purposes */
	background-color: #eee;
	color: #000;
}

.Nav li .Trash {
	margin-right: 1em;
	border: none;
	background-color: inherit;
}

.Nav li .Trash:hover svg, 
.Nav li .Trash:focus svg {
	fill: #222;
}

.Nav li svg {
	width: 1em;
	fill: #888;
}

.Nav li span {
	display: block;
	width: calc(100vw - 3rem - 2em);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

.Nav .New-review button {
	width: 100vw;
	justify-content: center;
}

/* iPad */
@media screen and (min-width: 768px) {
	/* GRANDPARENTS */
	.Nav {
		top: 0;
		left: -30vw;
		width: 30vw;
		height: 100vh;
		transition: left 200ms ease;
	}

	.Nav.open {
		left: 0;
	}

	.Menu-btn {
		top: 1.5rem;
		left: 1.5rem;
		bottom: auto;
		right: auto;
	}

	main {
		transition: left 200ms ease;
	}

	.Nav.open + main {
		left: 30vw;
		width: 70vw;
	}

	/* PARENTS */
	.Grid-container {
		margin: 0 auto;
		grid-template-columns: 8rem 1fr;
	}

	.Nav {
		height: 100vh;
		border: none;
		border-right: 1px solid #eee;
	}

	.Menu-btn {
		padding: 0.2em;
	}
	
	/* CHILDREN */
	.Video-link {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.Nav li span {
		width: calc(30vw - 3rem - 2em);
	}

	.Nav .New-review button {
		width: 30vw;
	}

	.Menu-btn svg {
		width: 1.6em;
	}
}

/* Macbook */
@media screen and (min-width: 992px) {
	/* PARENTS */
	.Grid-container {
		padding-right: 9.5rem;
	}
}